// =============================================================================
// Import all styles from ui-react
// =============================================================================
@use '@kibalabs/ui-react/styles.scss' as ui;

// Host Grotesk font from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --kiba-color-background: #FFFFFF;
  --kiba-color-brand-primary: #34D399;
  --kiba-color-brand-secondary: #66CCFF;
  --kiba-color-success: #22c55e;
  --kiba-color-warning: #b58108;
  --kiba-color-error: #ef4444;
  --kiba-color-text: #111827;
  --kiba-color-text-on-brand: #000000;
}
